<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Materialize Minified -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- App Stylesheet -->
    <link rel="stylesheet" href="/styles/styles.css" />
    <!-- External JS -->
    <script
      defer
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    ></script>
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    ></script>
    <!-- App JS -->
    <script defer type="text/javascript" src="/scripts/app.js"></script>
    <title>BalletBox - Add a new Poll</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <main class="container">
      <h4>Polls created by lighthouse@gmail.com</h4>

      <section id="poll-browse" class="polls-container">
        <% for (const poll of pollsArray) { %>
        <div><%- poll %></div>
        <% } %>
      </section>
    </main>
  </body>
</html>
