

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script
  defer
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
  ></script>
  <script type='text/javascript'>const pollCode = '<%= pollCode %>';</script>
  <script defer src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js'></script>
  <script defer src='/scripts/results_graph.js'></script>
  <link rel="stylesheet" type="text/css" href="/styles/results_graph.css"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <header id=constant-header><img class='logo' src="/images/pineappoll_logo.png"></header>
    <h2 class='results'>Poll Results for Poll-Code: <%= pollCode %></h2>
  <div class='container graph'>
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
</body>
</html>
