<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/header2.css" />
    <link rel="stylesheet" type="text/css" href="/styles/share_poll.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Share Your Poll!</title>
  </head>
  <body>
    <%- include('partials/_header2') %>
    <div>
      <h2>Thanks for choosing pineapPOLL!</h2>
    </div>
    <div>
      <p>We just created this pollcode: <%=pollCode%></p>
      <h3>Share this link with your friends so that they can vote:</h3>
      <h4>
        <a href="http://localhost:8080/votes/<%=pollCode%>"
          >http://thisCouldBeOurHerokuAppLink.com/votes/<%=pollCode%></a
        >
      </h4>
    </div>
  </body>
</html>
