<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- App Stylesheet -->
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" type="text/css" href="/styles/header2.css" />
    <link rel="stylesheet" type="text/css" href="/styles/poll_share.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Share Your Poll!</title>
  </head>
  <body>
    <%- include('partials/_header2') %>
    <div>
      <h2><%=nickName%> thanks for voting with pineapPOLL!</h2>
    </div>
    <div id="message-body">
      <h3>
        Do you want to vote for another poll or create your own pineapPOLL?
      </h3>
      <h4>
        <a href="/">GO HOME</a>
      </h4>
    </div>
  </body>
</html>
