

#vote-card, #create-poll-card {
  font-family: 'Patrick Hand', cursive;
  height: 40vh;
  border-radius: 1em;
  background-color: rgb(255, 228, 97, .5);
}

img#vote-pic, img#poll-pic {
  border-radius: 1em;
}
img#poll-pic {
  border-radius: 1em;
  height: 20vh;
  width: auto;
  margin-top: 1.75em;
}

body {
  background-color: rgba(235, 123, 12, 0.774);
  background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
}


.logo {
  height: 12vh;
}

.card .card-reveal {
  background-color: rgb(255, 228, 97, 1.0);
}

.card-container {
  margin-top: 2em;
}

div.my-card {
  /* background-color: rgb(78, 252, 255); */
  height: 225px;
  margin-right: 5%;
  margin-left: 5%;
}

.card .card-content .card-title {
  display: block;
  line-height: 32px;
  margin: 15px;
}

div.card-content {
  display: flex;
  justify-content: space-around;
  color: gold;
}

div.button-div {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

button#vote-btn {
  background-color: #5aad04;
}

button#newpoll-button {
  background-color: #5aad04;
}

.far .fa-paper-plane {
  color: black;
}

.fas .fa-clipboard-list {
  color: black;
}


/* credit <a href="https://www.freepik.com/free-photos-vectors/celebration">Celebration psd created by freepik - www.freepik.com</a>
<a href="https://www.freepik.com/free-photos-vectors/black">Black photo created by freepik - www.freepik.com</a> */
