
body {
  font-family: 'Patrick Hand', cursive;
  margin: 0;
  background-color: rgba(235, 123, 12, 0.774);
  background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
}


h2.results {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 8%;
  margin-right: 8%;
  display: flex;
  justify-content: center;
  background-color: rgba(235, 123, 12, 0.774);
  border-radius: .4em;
  font-size: x-large;
  word-wrap: break-word;
  padding: .15em;
}

div.container.graph {
  background-color:  rgba(235, 123, 12, 0.774);
  border-radius: .5em;
  margin-left: 5%;
  margin-right: 5%;
}
