body {
  font-family: 'Patrick Hand', cursive;
  background-color: rgba(235, 123, 12, 0.774);
  background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
}

li.draggable {
  font-size: large;
  font-weight: 700;
  border-radius: .75em;
  padding: 1em;
  border: rgb(255, 228, 97, .7);
  margin: 0.75em;
  background-color:rgb(255, 228, 97, .7);
  background-image: url('../docs/images/asfalt-dark.png');
}

ul {
  list-style-type: none;
}

button.vote-submit {
  background-color: #5aad04;

}

p.rank-instructions {
  font-size: x-large;
    display: flex;
    justify-content: center;
}

div.vote-submit-div {
 display: flex;
 justify-content: center;
}

.poll-question {
  /* text-decoration: underline; */
  font-size: 2.5em;
  border-radius: .25em;
  text-align: center;
  background-color: rgb(255, 228, 97, .7);
  margin-left: 7%;
  margin-right: 7%;
}

.nickname-entry {
  text-align: center;
  font-family: 'Patrick Hand', cursive;
  background-color: rgb(255, 228, 97, .7);
  font-size: x-large;
  margin-top: 2em;
  border-radius: .5em;
  color:black;
  border: rgba(235, 123, 12, 0.774) 3px solid;
  resize: none;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}



@media only screen and (min-width: 500px) {
  #items {
    margin: 2px;
  }
}
