

.card.small {
  /* background-color: rgb(78, 252, 255); */
  height: 225px;
  margin-right: 5%;
  margin-left: 5%;
  background-image: url('../docs/images/asfalt-dark.png');
}

.card .card-content .card-title {
  display: block;
  line-height: 32px;
  margin: 15px;
}

div.card-content {
  display: flex;
  justify-content: space-between;
}

.far .fa-paper-plane {
  color: black;
}

.fas .fa-clipboard-list {
  color: black;
}
